*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
target/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse
.classpath
.project
.settings

# intellij
.idea
Hi This is Suresh just testing the file from git to git hub and jenkins

Just changing the file checking

again changing @09:24 am for checking the ecli[se to giuthub and then jenkins

